@page
@model DayOfYear.Pages.DayOfYearModel
@{
    ViewData["Title"] = "Current Day of Year";
}

<h1>Current Day of Year</h1>
<p>The current day of the year is: @Model.DayOfYear</p>
<p>The current date and time is: @Model.CurrentDateTime</p>
<p>A random letter from the English alphabet: @Model.RandomLetter</p>
